<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanActive ? '#00000000' : '#fff'">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- style="height: 100%; display: flex;justify-content: center; align-items: center;" -->

  <ion-grid fixed >
    <ion-row class="" >
      <ion-col class="ion-text-center" >
        <ion-button (click)="startScanner()" shape="round" [hidden]="scanActive">
          <ion-icon slot="start" name="scan"></ion-icon>
          Scan
        </ion-button>
        <p class="ion-text-center" *ngIf="result && !scanActive">{{ result }}</p>
      </ion-col>
    </ion-row>

    <ion-row class="scanner-buttons" [hidden]="!scanActive">
      <ion-col class="ion-no-padding">
        <ion-button (click)="stopScanner()" expand="full" shape="round">
          Stop
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="scan-box" [hidden]="!scanActive">
  
  </div>
</ion-content>

